<html>
    <head>
        <title>Desafio 01</title>
    </head>
    <body>
        <form action="/check" method="POST">
            Nome:
            <input type="text" name="username" />
            Data de Nascimento:
            <input type="text" name="data" />
            <button type="submit">Ok</button>
        </form>
    </body>
</html>
